<div class ="container">
  <div class="row justify-content-md-center">

          <div class = "col-md-6" >
              <label>{{evento.DESC_EVEN}}</label>                
          </div>
          
          <div class = "col-md-6" >
              Numero de Tarjeta
              <input>
          </div>
          <div class = "col-md-6" >
              <label> Titular de la tarjeta</label>
              <input>
          </div>
          <div class = "col-md-6" >
                <label>Tipo de tarjeta   </label>
                <input>
            </div>
          <div class = "col-md-6" >
              <label>Monto   </label>
              <input>
          </div>
          
          <div class = "col-md-6" >
                <label>Expiracion </label>
                <input>
            </div>
          <div class = "col-md-12" >
              <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="comprar()">Comprar</button>
          </div>
          
      
  </div>
</div>
